<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cleaning.backend.mapper.QuoteRequestMapper">

    <insert id="insertQuote" parameterType="com.cleaning.backend.model.QuoteRequest">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT QUOTE_REQUEST_SEQ_MY.NEXTVAL FROM dual
        </selectKey>
        INSERT INTO quote_request (
        id, service_type, space_type, area,
        name, phone, email, location, message, image_path
        )
        VALUES (
        #{id}, #{serviceType}, #{spaceType}, #{area},
        #{name}, #{phone}, #{email}, #{location}, #{message}, #{imagePath}
        )
    </insert>

    <insert id="insertQuoteImage">
        INSERT INTO QUOTE_IMAGE (ID, QUOTE_REQUEST_ID, FILE_PATH)
        VALUES (QUOTE_IMAGE_SEQ.NEXTVAL, #{quoteRequestId}, #{filePath})
    </insert>


    <select id="findById" resultType="com.cleaning.backend.model.QuoteRequest" parameterType="long">
        SELECT * FROM quote_request WHERE id = #{id}
    </select>

    <select id="getAllQuotes" resultType="com.cleaning.backend.model.QuoteRequest">
        SELECT * FROM QUOTE_REQUEST ORDER BY ID DESC
    </select>

</mapper>

