<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cleaning.backend.mapper.FaqMapper">
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO FAQ (ID, QUESTION, ANSWER, CREATED_AT)
        VALUES (#{id}, #{question}, #{answer}, NOW())
    </insert>

    <select id="findAll" resultType="com.cleaning.backend.dto.FaqResponseDto">
        SELECT
            id,
            question,
            answer,
            created_at AS createdAt
        FROM faq
        ORDER BY created_at DESC
    </select>

</mapper>