<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cleaning.backend.mapper.AdminUserMapper">
    <select id="findByUsername" resultType="com.cleaning.backend.model.AdminUser">
        SELECT *
        FROM admin_user
        WHERE USERNAME = #{username}
    </select>

    <insert id="insertAdminUser" parameterType="com.cleaning.backend.model.AdminUser">
        INSERT INTO ADMIN_USER (ID, USERNAME, PASSWORD, NAME, ROLE, STATUS ,CREATED_AT)
        VALUES (#{id}, #{username}, #{password}, #{name}, #{role}, #{status}, NOW())
    </insert>

    <select id="findPendingAdmins" resultType="com.cleaning.backend.model.AdminUser">
        SELECT *
        FROM admin_user
        WHERE status = 'PENDING'
        ORDER BY created_at DESC
    </select>

    <select id="findById" resultType="com.cleaning.backend.model.AdminUser">
        SELECT * FROM ADMIN_USER WHERE ID = #{id}
    </select>

    <update id="updateAdminUser" parameterType="com.cleaning.backend.model.AdminUser">
        UPDATE ADMIN_USER
        SET ROLE = #{role}, STATUS = #{status}
        WHERE ID = #{id}
    </update>

    <select id="findAllAdmins" resultType="com.cleaning.backend.model.AdminUser">
        SELECT *
        FROM ADMIN_USER
        ORDER BY created_at DESC
    </select>

    <update id="updateAdminUserRole">
        UPDATE ADMIN_USER
        SET ROLE = #{role}
        WHERE ID = #{id}
    </update>
</mapper>