<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cleaning.backend.mapper.BusinessUserMapper">
    <insert id="insertBusinessUser">
        INSERT INTO BUSINESS_USER (
        ID, USERNAME, PASSWORD, NAME, BUSINESS_NO,
        PHONE, ALT_PHONE, BIZ_DOC_PATH, CREATED_AT
        ) VALUES (
        #{dto.id},
        #{dto.username}, #{dto.password}, #{dto.name}, #{dto.businessNo},
        #{dto.phone}, #{dto.altPhone}, #{filePath}, NOW()
        )
    </insert>

    <select id ="findByUsername" resultType="com.cleaning.backend.model.BusinessUser">
        SELECT
        ID,
        USERNAME,
        PASSWORD,
        NAME,
        BUSINESS_NO,
        PHONE,
        ALT_PHONE,
        BIZ_DOC_PATH,
        CREATED_AT
        FROM BUSINESS_USER
        WHERE USERNAME = #{username}
    </select>

    <select id="findById" parameterType="long" resultType="com.cleaning.backend.model.BusinessUser">
        SELECT
        id,
        username,
        name,
        business_no,
        phone,
        alt_phone,
        biz_doc_path,
        created_at
        FROM business_user
        WHERE id = #{id}
    </select>

    <update id="update" parameterType="com.cleaning.backend.model.BusinessUser">
        UPDATE business_user
        SET name = #{name},
        phone = #{phone},
        alt_phone = #{altPhone}
        <if test="password != null">
            , password = #{password}
        </if>
        <if test="bizDocPath != null">
            , biz_doc_path = #{bizDocPath}
        </if>
        WHERE id = #{id}
    </update>
</mapper>